{% extends 'base.html' %}

{% block meta %}
<title>Wishlist</title>
{% endblock meta %}

{% block content %}
<nav class="navbar" style="background-color: #34495e;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1" style="color: white;">{{nama}}</span>
      <button style="border-radius: 10px; align-items:flex-end;"><a style="color: black; text-decoration: none;" href="{% url 'wishlist:logout' %}">Logout</a></button>
    </div>
  </nav>

<table style="border-style: solid; margin-top: 20px; margin-left: 20px;">
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
    <tr>
        <th>{{barang.nama_barang}}</th>
        <th>{{barang.harga_barang}}</th>
        <th>{{barang.deskripsi}}</th>
    </tr>
    {% endfor %}
</table>

<p style="margin-top: 20px; margin-left: 20px;">Sesi terakhir login: {{ last_login }}</p>

{% endblock content %}